@mixin my_entry_title() {
    color: #4a4b4b;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 2.36859em;
    font-family: $base-font-family-alt;
    font-style:normal; 
    line-height: 1.2;
}

@mixin my_red-subtitle() {
    color: $pf-red-1;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    word-spacing: .1em;
    text-transform: uppercase;
}

@mixin my_quote() {
    overflow: auto;
    font-size: 2em;
    font-style: italic;
    font-weight: 300;
    padding: 1em;
    text-align: center;
    width: 100%;
}

/*@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}*/


@-webkit-keyframes enlarge{
    0%  { -webkit-transform: scale(0,0) }
    100% {-webkit-transform: scale(2,2) }
}


