html {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%; 
    @media (max-width: 680px) {
        height: 50.500em !important;
    }
}

.fp-section {
    .home-figCaption {
        left: 50%;
        position: absolute;
        top: 50%;
        @media (min-width: 1441px) {
            transform: translate(-50%, -50%);
            z-index: 999;
            width: 100%;
            max-width: 1440px;
        }
        @media (max-width: 1440px) {
            transform: translate(-50%, -50%);
            max-width: 1170px;
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
        }

        @media  (min-width: 681px) and (max-width: 1024px) {
            transform: translate(-50%, -50%);
            max-width: 980px;
            width: 100%;
        }
        @media (min-width: 481px) and (max-width: 680px) {
            transform: translate(-50%, -50%);
            max-width: 980px;
            width: 100%;
        }
        @media (max-width: 480px) {
            transform: translate(-50%, -50%);
            max-width: 100%;
            width: 100%;
        }
    }
}