
.heading-primary {
    font-size:2em;
    padding:2em;
    text-align:center;
}
.accordion dl,
.accordion-list {
    border:1px solid #ddd;
    &:after {
        content: "";
        display:block;
        height:1em;
        width:100%;
        background-color:darken(#ffffff, 5%);
    }
}
.accordion dd,
.accordion__panel {
    background-color:#ffffff;
    font-size:1em;
    line-height:1.5em;
}
.accordion {
    position:relative;
    background-color:#eee;
}
.container {
    max-width:960px;
    margin:0 auto;
    padding:2em 0 2em 0;
}
.accordionTitle,
.accordion__Heading {
    background-color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $base-font-family-alt;
    text-align:center;
    padding:0.5em 0.75em;
    display:block;
    text-decoration:none;
    color:#333333;
    transition:background-color 0.5s ease-in-out;
    border-bottom:1px solid darken(#ffffff, 25%);
    &:before {
        content: "+";
        font-size:1.5em;
        line-height:1em;
        float:left; 
        transition: transform 0.3s ease-in-out;
    }
    &:hover {
        background-color:darken(#ffffff, 10%);
        color: lighten(#333333, 15%);
    }
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
    background-color:darken(#ffffff, 10%);
    &:before {

        transform:rotate(-225deg);
    }
}
.accordionItem {
    height:auto;
    overflow:hidden; 
    //SHAME: magic number to allow the accordion to animate
    max-height:50em;
    transition:max-height 1s;   


    @media screen and (min-width:48em) {
        //max-height:15em;
        -webkit-transition: max-height 0.5s;
        -moz-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
    &.is-expanded {
        padding: 2em 1em;
        transition:padding 0.3s;
    }
    &.is-collapsed {
        max-height:0;  
        padding: 0;
        transition:padding 0.3s;
    }
}


.no-js .accordionItem.is-collapsed {
    max-height: auto;
}
.animateIn {
    animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
    0% {
        opacity: 0;
        transform:scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
    }
    100% {
        opacity:1;
        transform:scale(1);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        transform:scale(1);
    }
    100% {
        opacity:0;
        transform:scale(0.9) rotateX(-60deg);
    }
}