.blog, .archive {
    .white-bg {  
        padding-left: 1em;
        padding-right: 1em;
        background-color: #ffffff;
    }
    .single-bg {
        background-image: url('../../assets/images/PosterGIANT_case_studies_bground.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        background-color: #000;
    }
    .hentry {
        padding: 1em;
        .entry-header {
            margin-bottom: 1em;
            .entry-title {
                color: $pf-dark-grey-1;
                text-align: left;
                font-family: $base-font-family-alt;
                margin: 0;
            }
        }
        a.page-links {
            color: $pf-red-1;
            margin-left: 1em;
            text-transform: capitalize;
            &:hover {
                color: lighten($pf-red-1, 40%);
            }
        }
        a {
            color: $pf-dark-grey-1;
            text-transform: uppercase;
            &:hover {
                color: lighten($pf-black, 80%);
            }
        }
        .entry-date {
            font-family: $base-font-family-alt;
            color: $pf-red-1;
            font-size: 1.5em;
            font-weight: 400;
        }
    }

    .entry-meta {
        a {
            color: $pf-red-1;
            &:hover {
                color: lighten($pf-red-1, 10%);
            }
        }
        .byline, .cat-list {
            margin-left: 0.5em;
        }
    }
    .cat-menu {
        border-bottom: 5px solid $pf-red-1;
        position: relative;
        h1 {
        }
        .post-categories {
            @media (min-width: 1025px){
                position: absolute;
                right: 0;
                top: 25%;
                width: 50%;
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                position: absolute;
                right: 0;
                top: 25%;
                width: 50%;
            }
            @media (max-width: 768px){ 
                position: relative;
                right: initial;
                top: initial;
            }
            li {
                display: inline-block;
            }
            a {
                color: $pf-black;
                font-family: $base-font-family-alt;
                font-size: 1.25em;
                font-weight: 400;
                margin: 0 1em;
                &:hover {
                    color: lighten($pf-black,40%);
                    border-bottom: 5px solid $pf-red-1;
                }
            }
        }
    }
}

