.single-pg-case-studies, .single-post, .single-services {
    .white-bg {  
        padding-left: 1em;
        padding-right: 1em;
        background-color: #ffffff;
    }
    .single-bg {
        background-image: url('../../assets/images/PosterGIANT_case_studies_bground.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        background-color: #000;
    }
    .h1 {
        margin-top: 0.25em;
        margin-bottom: 0;
        font-style: normal;
    }
    .entry-hero {
        .post-thumbnail {
            img {
                height: auto;
                max-width: 100%;
                width: 100%;
            }
        }        
    }
    .entry-meta {
        margin-bottom: 2em;
    }

}

.cs-segments {
    display: inline-block;
    margin-top: 4em;
    > li {
        float: left;
        display: block;       
        a {
            background-color: #cccccc;
            background-color: $pf-red-1;
            display: block;
            margin-right: 0.25em;
            padding: 0.25em 0.5em;
            font-family: $base-font-family-alt;
            color: #fff;
            font-size: 1.5em;
            font-weight: 400;
            vertical-align: bottom;
            transition:  background-color 300ms ease 0s;
            &:hover {
                background-color: #cccccc;
                transition:  background-color 300ms ease 0s;
            }
        }
    }
}

.cs-cats {
    display: inline-block;
    @media (min-width:768px) {
        margin-left: 0.50em;
    }
    > li {
        display: inline;
        margin-right: 0.25em;
    }
}