/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2016, 12:46:19 PM
    Author     : mattpeternell
*/
.footer {
    background: $footer-background;
    @media (min-width: 1025px){
        padding: em(100px);
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        padding: em(75px);
    }
    @media (max-width: 768px){
        padding: em(15px);
    }
    width: 100%;

    .footer-logo {
        margin-bottom: 2em;
        text-align: center;

        img {
            height: 3em;
        }
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: 768px) {
            margin-bottom: $base-spacing;
        }
    }

    ul {
        flex-basis: 13em;
        flex-shrink: 0;
        margin-bottom: $base-spacing * 2;
        padding: 0;
    }

    li {
        line-height: 1.5em;
        list-style: none;
        margin-bottom: 1.25em;
        text-align: left;
    }

    li a {
        color: $footer-link-color;
        text-decoration: none;
        font-size: 1.25em;

        &:focus,
            &:hover {
            color: transparentize($footer-color, 0);
        }
    }

    li h3 {
        color: $footer-color;
        font-size: 1.25em;
        margin-bottom: 0.4em;
    }

    hr {
        border: 1px solid transparentize($footer-disclaimer-color, 0.3);
        margin: 0 auto $base-spacing;
        width: 12em;
    }

    p {
        color: $footer-disclaimer-color;
        font-size: 0.9em;
        line-height: 1.5em;
        margin: auto;
        max-width: 35em;
        text-align: center;
    }
}

.footer {
    .widget {
        @media (min-width: 1025px){
            border-left: 4px solid rgba(255, 255, 255, 0.25);
            padding-left: 2em;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            border-left: 4px solid rgba(255, 255, 255, 0.25);
            padding-left: 2em;
        }
        @media (max-width: 768px){
            border-left: none;
            padding-left: 0;
        }
        .widget-title {
            color: rgba(229, 229, 229, 1);
            font-size: 1.25em; 
            letter-spacing: 2px;
        }
        .textwidget {
            color: rgba(255, 255, 255, 0.4);
            font-size: 1.25em; 
        }
    }
}

.site-info {
    margin-top: 3em;
    text-align: center;
    p {
        //margin: 0;
    }
}

