.parallax-window {
    min-height: 400px;
    background: transparent;
}

.hero-bg {
    background-color: transparent;
    background-image: url('../../assets/images/PosterGIANT_case_studies_bground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;

    @include media($horizontal-bar-mode) {
        height: 200px;
    }
    @media (max-width: 1024px) {
        height: 100px;
    }
    background-color: #000000;
    position: relative;
}
.no-smil {
    .hero-subpages {
        overflow: hidden;
    }
}
.hero {
    position: relative;
    .entry-header {
        background-color: #1e1e1e;
        bottom: 0px;
        left: 0;
        right: 0;
        position: absolute;
        @media screen and (min-width: 1441px){
            height: 100px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1440px) {
            height: 90px;
        }
        @media screen and (min-width: 1025px) and (max-width: 1280px) {
            height: 80px;
        }
        @media screen and (min-width: 769px) and (max-width: 1024px) {
            height: 70px;
        }
        @media screen and (min-width: 681px) and (max-width: 768px) {
            height: 60px;
        }
        @media screen and (max-width: 680px) {
            height: 100px;
        }
        &:after {
            background-image: url(../../assets/images/PosterGIANT_hero_white_bground_02.png);
            background-position: -375px 0;
            background-repeat: no-repeat;
            position: absolute;
            top: -15px;
            left: 0;
            right: 0;
            content: "";
            width: 100%;
            height: 100px;
            @media screen and (max-width: 1481px){
                background-position: -375px 0;
                height: 100px;
            }
            @media screen and (min-width: 1280px) and (max-width: 1440px) {
                background-position: -615px 0;
                height: 80px;
            }
            @media screen and (min-width: 1025px) and (max-width: 1280px) {
                background-position: -615px 0;
                height: 80px;
            }
            @media screen and (min-width: 769px) and (max-width: 1024px) {
                background-position: -755px 0;
                height: 75px;
            }
            @media screen and (min-width: 681px) and (max-width: 768px) {
                background-position: -950px 0;
                height: 60px; 
            }
            @media screen and (max-width: 680px){
                display: none;
            }
        }
        h1.entry-title a {
            color: #fff;
            font-style: italic;
            margin: 0;
            text-transform: uppercase;
            position: absolute;
            z-index: 99;
            &:hover {
                color: darken(#fff, 50%);
            }
            @media screen and (min-width: 1441px){
                font-size: 5rem;
                right: 1em;
                bottom: -10px;
            }
            @media screen and (min-width: 1281px) and (max-width: 1440px) {
                font-size: 4.5rem;
                right: 1em;
                bottom: -10px;
            }
            @media screen and (min-width: 1025px) and (max-width: 1280px) {
                font-size: 3.5rem;
                right: 1em;
                bottom: -10px;
            }
            @media screen and (min-width: 769px) and (max-width: 1024px) {
                font-size: 3.5rem;
                right: 1em;
                bottom: -10px;
            }
            @media screen and (min-width: 681px) and (max-width: 768px) {
                font-size: 2.25rem;
                right: 1em;
                bottom: -7px;
            }
            @media screen and (max-width: 680px){
                font-size: 2.25rem;
                right: 30px;
                bottom: 50px;
            }
        }
        h2.entry-subtitle {
            color: #000;
            font-style: italic;
            line-height: 2;
            margin: 0;
            position: absolute;
            z-index: 99;
            word-spacing: .1em;
            @media screen and (min-width: 1441px){
                font-size: 3em;
                top: -12px;
                left: 1em;
            }
            @media screen and (min-width: 1281px) and (max-width: 1440px) {
                font-size: 2.50em;
                top: -15px;
                left: 1em;
            }
            @media screen and (min-width: 1025px) and (max-width: 1280px){
                font-size: 2.5em;
                top: -15px;
                left: 1em;
            }
            @media screen and (min-width: 769px) and (max-width: 1024px) {
                font-size: 2em;
                top: -10px;
                left: 30px;
            }
            @media screen and (min-width: 681px) and (max-width: 768px) {
                font-size: 1.25em;
                top: 0;
                left: 30px;
            }
            @media screen and (max-width: 680px){
                font-size: 1.25em;
                top: 54px;
                left: initial;
                right: 30px;
                color: #fff;
            }
        }
    }
}

/*.hero-img-wrapper {
    &.about-title {
        &.animate {
           -moz-animation: enlarge 5s forwards;
            -ms-animation: enlarge 5s forwards;
            -o-animation: enlarge 5s forwards;
            animation: enlarge 5s forwards;
        }
        
    }
}*/