
.hero-subpages {
    position: relative;
    .post-thumbnail {
        height: 245px;
        overflow: hidden;
    }
    .entry-header {
        @include outer-container(100%);

        @media (min-width: 1025px){
            @include pad(em($global-padding * 2) em($global-padding) em($global-padding / 2) em($global-padding));
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include pad(em($global-padding) em($global-padding/2) em($global-padding / 2) em($global-padding/2));
        }
        @media (min-width: 681px) and (max-width: 768px){
            @include pad(em($global-padding) em($global-padding/2) em($global-padding / 2) em($global-padding/2));
        }
        @media (max-width: 680px){
            @include pad(em($global-padding/4) em($global-padding/2) em($global-padding / 2) em($global-padding/2));
        }
        h1.entry-title {
            color: #000;
            font-style: italic;

            @media (min-width: 1025px){
                font-size: 5em;
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                font-size: 5em;
            }
            @media (min-width: 681px) and (max-width: 768px){
                font-size: 5em;
            }
            @media (max-width: 680px){
                font-size: 2.25em;
            }
            margin: 0;
            text-transform: uppercase;
            text-align: left           
        }
    }
}

.hero-img-wrapper {
    &.about-title {
        background-color: #ffffff;
        font-family: steelfish,Arial,sans-serif;
        font-style: italic;
        font-weight: 800;
        padding: 0 0.5em;
        position: absolute;
        text-transform: uppercase;
        z-index: 1;
        @media (min-width: 1025px) {
            font-size: 8em;
            top: 50%;
            left: 50%;
            width:980px;
            transform: translate(-50%, -25%);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            font-size: 7.25em;;
            top: 50%;
            left: 50%;
            width:800px;
            transform: translate(-50%, -25%);
        }
        @media (min-width: 481px) and (max-width: 768px) {
            transform: translateY(-50%);
            top: 50%;
            left: 10%;
            right: 10%;
            text-align: center;
            padding: 0;
            font-size: 5.2em;
        }
        @media (max-width: 480px) {
            transform: translateY(-50%);
            top: 50%;
            left: 10%;
            right: 10%;
            text-align: center;
            padding: 0;
            font-size: 3em;
        }
        &:after {
            background: url(../../assets/images/PosterGIANT_white_triangle.png) no-repeat 0 0;
            bottom: -44px;
            color: #ccc;
            content: " ";
            display: block;
            height: 45px;
            position: absolute;
            right: 32px;
            width: 70px;
            background-size: 100%;
        }
    }
    &.ctitle {
        //background-color: rgba(255, 255, 255, 0.25);
        left: 50%;
        max-width: 1400px;
        position: absolute;
        top: 50%;
        @media (min-width: 1025px){
            width: 100%;
            transform: translate(-50%, -25%);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            width: 90%;
            transform: translate(-50%, -40%);
        }
        @media (min-width: 681px) and (max-width: 768px){
            width: 90%;
            transform: translate(-50%, -40%);
        }
        @media (max-width: 680px){
            width: 90%;
            transform: translate(-50%, -40%);
        }
    }
    ::-webkit-input-placeholder {
        color: #fff;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
        color: #fff;  
    }
    ::-ms-input-placeholder {  
        color: #fff;  
    }
}
  
.page-template-contact-template {
    .about-bg-height {
        @media (max-width: 768px){
            height: 60em;
        }
    }
    h1 {
        &.entry-title {
            @media (min-width: 769px){
                text-align: left;
                font-size: 5em;
            }
            @media (max-width: 768px){
                text-align: center;
                font-size: 4em;
            }
            color: #fff;
            margin-bottom: 0;
            font-style: inherit;
        }
    }
    h2 {
        &.entry-subtitle {
            font-size: 3.5em;
            font-style: italic;
            @media (min-width: 769px){
                text-align: left;
                font-size: 3.5em;
            }
            @media (max-width: 768px){
                text-align: center;
                font-size: 2.5em;
            }
            color: #fff;
        }
    }
}