/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2016, 3:43:33 PM
    Author     : mattpeternell
*/

.fade {
    width: 100%;
    height: auto;
    &:hover {
        opacity: .70;
        transition: opacity .2s ease-in;
        -moz-transition: opacity .2s ease-in;
        -webkit-transition: opacity .2s ease-in;
        -o-transition: opacity .2s ease-in;
    }
}

.insta-feed {
    text-align: center;
    margin: 0;
    overflow: auto;
    padding-bottom: 0; 
    li {
        @media only screen and (min-width: 1025px){
            @include span-columns(3);
            @include omega(4n);
        }
        @media only screen and (min-width: 769px) and (max-width: 1024px){
            @include span-columns(3);
            @include omega(4n);
        }
        @media only screen and (max-width: 768px){
            @include span-columns(3);
            @include omega(4n);
            img {
                margin: 0 auto;
            }
        }

        list-style: none;


        a {
            display: block;
        }
        img {
            transform: translate3d(0,0,0);
        }
    }
    .instaCapt {
        color: #fff;
        display: block;
        font-size: 12px;
        font-weight: 500;

        /*        min-height: 60px;*/
        @media only screen and (max-width: 768px){
            max-width: 320px;
            margin: 1em auto 0;
        }
        @media only screen and (min-width: 769px){
            margin-top: 1em;
            min-height: 60px; 
        }
    }
    .instaCom {
        color: #fff;
    }
}