.grid.case {
    max-width: 1200px;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    .grid-item {
        background: #ffffff none repeat scroll 0 0;
        float: left;
        height: 475px;
        position: relative;

        @media (min-width: 1025px){
            width: 23.2318%;
        }
        @media (min-width: 481px) and (max-width: 1024px) {
            width: 48.2318%;
        }

        @media (max-width: 480px){
            width: 100%;
        }
        z-index: 1;
        p {
            //text-align: justify;
        }
    }
    .grid-item-title {
        height: 30px;
        margin-bottom: 0.25em;
        text-align: center;
        a {
            font-size: 1.75em;
            font-family: $base-font-family-alt;
            color: $pf-black;
            line-height: 1;
            text-transform: uppercase;
            &:hover {
                color: lighten($pf-black, 80%);
            }
        }
    }
}

.grid-menu.showFilter {
    display: block;
}

header.entry-header.cs {
    position: relative;
}

.section-cs-list {
    @media (max-width: 768px){
        .cs-grid-wrapper {
            width: 100%;
        }
        .cs-col-md-3 {
            //display: none;
        }
    }

}
.section-cs-list .grid-controls{
    @media (min-width: 769px) {
        display: block;
    }
    @media (max-width: 768px){  

    }
}
.grid-controls.showFilter {
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 999;
}


button#mobileFilterBtn {
    position: absolute;
    z-index: 999;
    right: 51px;
    display: block;
    @media (min-width: 769px){
        display: none;
    }
    @media (min-width: 768px) and (orientation: portrait){  
        top: 50%;
    }
    @media (max-width: 680px){  
        position: absolute;
        z-index: 999;
        right: 51px;
        top: 20%;
        display: block;
    }
}

.gutter-sizer {
    width: 2.35765%;
}

.pg-tag-cloud {
    li {
        a {
            position: relative;
            color: $pf-black;
            &:hover {
                color: lighten($pf-black, 10%);
                font-weight: 600;
            }
            &.selected {
                font-weight: 600;
                &:before {
                    content: '\f105';
                    font-family: FontAwesome;
                    left: -15px;
                    position: absolute;
                    top: -2px;
                    font-weight: 600;
                }
            }
        }
        a {


        }
    }
    > li {
        padding: 0 1em 0.5em;
    }
    li {
        &.reset {
            //padding-bottom: 1em;
        }
    }
}


.cs-tax-name {
    display: table;
    overflow: auto;
    width: 100%;
    a {
        color: lighten($pf-dark-red, 10%);
        &:hover {
            color: $pf-dark-red;
        }
    }
    .cat-item {
        position: relative;
        display: inline-block;
        text-align: center;
        &:last-child .comma {
            display: none;
        }
    }

    .comma {
        display: inline-block;
        margin-right: 5px;
    }
}

.grid.home {
    max-width: 100%;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    .grid-item {
        background: #ffffff none repeat scroll 0 0;
        float: left;
        //height: 475px;
        position: relative;
        @media (min-width: 1025px){
            width:25.00%;
        }
        @media (min-width: 481px) and (max-width: 1024px) {
            width: 50.00%;
        }

        @media (max-width: 480px){
            width: 100%;
        }
        z-index: 1;
        p {
            //text-align: justify;
        }
        .content {
            bottom: 0;
            color: #ffffff;
            padding: 3em;
            position: absolute;
            right: 0;
            left: 0;
            text-align: center;
            top: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.50) none repeat scroll 0 0;
            @include animation(fadeIn 1s);
            &:hover {
                background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
                @include animation(fadeIn 1s);
/*                .grid-item-title, .cs-tax-name {
                    display: block;
                }*/
                a.learn-more {
                    @media (max-width: 1281px){
                        display: none;
                    }
                    @media (max-width: 1280px){
                        display: inline-block;
                    }

                }
            }

        }
        .desktop-link {
            z-index: 55;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(255,255,255,0);
            @media (max-width: 1281px){
                display: block;
            }
            @media (max-width: 1280px){
                display: none;
            }
        }
        .title-link {
            color: #fff;
            &:hover {
                color: darken(#fff, 50%);
            }
        }
        .inner-content {
            left: 0;
            position: absolute;
            padding: 0.50em;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 66;
            .grid-item-title {
                margin-bottom: 0.25em;
                text-align: center;
                font-size: 1.75em;
                font-family: $base-font-family-alt;
                color: #fff;
                line-height: 1;
                text-transform: uppercase;
               
                @media (min-width: 1281px){
                    //display: none;
                }
                @media (max-width: 1281px) {
                    display: block;
                }

            }
            a.learn-more {
                color: #333333;
                font-family: steelfish,Arial,sans-serif;
                line-height: 1;
                text-transform: uppercase;

                @media (min-width: 1025px){
                    display: none;
                }
                @media (max-width: 1024px) {
                    display: inline-block;
                }
                @media (min-width: 769px){
                    margin-top: 2em;
                }
                @media (max-width: 768px){
                    margin-top: 1em;
                }
                &:hover {
                    color: darken(#fff, 50%);
                }
            }
            .cs-tax-name {
                @media (min-width: 1281px){
                    //display: none;
                }
                @media (max-width: 1280px) {
                    display: block;
                }
                a {
                    color: #fff;
                    font-weight: 600;
                    &:hover {
                        color: darken(#fff, 25%);
                    }
                }
            }
        }
    }

}

.overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: block !important;
}
.grid.about {   
    max-width: 100%;
    position: relative;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    .desktop-link {
/*        background-color: #cccccc;*/
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
    }
    a.learn-more {
        color: #333333;
        font-family: steelfish,Arial,sans-serif;
        line-height: 1;
        text-transform: uppercase;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 999;
        padding: 0.75em;
        font-size: 0.85em;
        background-color: rgba(255,255,255, 0.50);
        &:hover {
            color: darken(#fff, 50%);
        }
        @media (min-width: 1281px) {
            display: none;
        }
        @media (max-width: 1280px) {
            display: block;
        }
    }
    .grid-item {
        background: #ffffff none repeat scroll 0 0;
        float: left;
        //height: 475px;
        position: relative;
        @media (min-width: 1025px){
            width:25.00%;
        }
        @media (min-width: 481px) and (max-width: 1024px) {
            width: 50.00%;
        }
        @media (max-width: 480px){
            width: 100%;
        }
        z-index: 1;
        p {
            //text-align: justify;
        }
        .content {
            bottom: 0;
            color: #ffffff;
            padding: 3em;
            position: absolute;
            right: 0;
            left: 0;
            text-align: center;
            top: 0;
            z-index: 1;
        }
        .inner-content {
            left: 0;
            position: absolute;
            padding: 1em;
            right: 0;
            bottom: 0;
            padding: 1em;
            background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
            .grid-item-title {
                border-bottom: 2px solid #fff;
                margin-bottom: 0.25em;
                padding-bottom: 0.25em;
                text-align: left;
                font-size: 1.75em;
                font-family: $base-font-family-alt;
                color: #fff;
                line-height: 1;
                text-transform: uppercase;
            }
            .grid-item-job-title {
                font-size: 0.65em;
                margin-left: 0.25em;
            }
            .grid-item-job-excerpt {
                font-size: 0.85em;
                text-align: left;
            }

            .cs-tax-name {
                a {
                    color: #900;
                    font-weight: 600;
                }
            }
        }
    }
}

.home-grid-controls {
    @media (min-width: 1441px){
        max-width: 55%;
        position: absolute;
        right: 6em;
        top: 8em;
        width: 100%;
        z-index: 99;
        text-align: right;

    }
    @media (min-width: 1281px) and (max-width: 1440px){
        position: absolute;
        right: 0;
        top: 4.2em;
        z-index: 99;
        width: 65%;
    }

    @media (min-width: 1025px) and (max-width: 1280px){
        position: absolute;
        right: 0;
        top: 4.2em;
        z-index: 99;
        width: 65%;
        text-align: right;
    }
    @media (max-width: 1024px){
        width: 100%;
        display: block;
        margin-bottom: 2em;
        text-align: center;
    }
    .pg-tag-cloud > li {
        display: inline-block;
        @media (min-width: 769px){
            padding: 0 2em 0.5em;
        }
        @media (max-width: 768px){
            padding: 0 1em 0.5em;
        }
        a {
            @media (min-width: 1281px){
                font-size: 2em;
            }
            @media (max-width: 1280px){
                font-size: 1.25em;
            }
            font-weight: 600;
            &.selected {
                color: lighten(#000, 25%);
                &::before {
                    content: "";
                    font-family: inherit;
                    font-weight: inherit;
                    left: 0;
                    position: absolute;
                    right: 0;
                    @media (min-width: 1281px){
                        top: 40px;
                    }
                    @media (min-width: 1025px) and (max-width: 1280px){
                        top: 25px;
                    }
                    @media (min-width: 769px) and  (max-width: 1024px) {
                        top: 25px;
                    }
                    @media (max-width: 768px){
                        top: 25px;
                    }
                    height: 3px;
                    background-color: $pf-dark-red;
                }
            }
        }
    }
}

