.screen {
    background-color: rgba(0, 0, 0, 0.50);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 8888;
}

.modalwindow {
    position:fixed;
    display:none; /* Hides the modal window by default */
    z-index:9999;
    @media(min-width: 481px){
        width:480px;
    }
    @media(max-width: 480px){
        width:320px;
    }
    background: #ffffff;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;

    header {
        background-color: #ffffff;
        padding: 15px;

        margin: 0;
        font-family: arial;
        text-align: center;
        h4 {
            color: #333333;
            font-family: steelfish,Arial,sans-serif;
            font-size: 1.5em;
            font-weight: 600;
        }
    }

    .content {
        padding: 20px;
        color: #ccc;
        font-size: 22px;
        line-height: 30px;
        p {
            text-align: center;
        }
    }

    .close-btn {
        color: #000;
        display: block;
        font-weight: 700;
        padding: 1em;
        position: absolute;
        right: 0;
        text-align: center;
        text-decoration: none;
        top: 0;
        &:hover {
            color: #ccc;
        }
        .fa {
            font-size: 1.75em;
        }
    }

}