/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2016, 2:24:26 PM
    Author     : mattpeternell
*/

.admin-bar .navigation {
    margin-top: 25px;
}


header.navigation {
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(0,0,0,0.85);
    position: $navigation-position;
    z-index: $navigation-zindex;
    @media screen and (min-width: 1481px){
        width: 90%;
        min-height: $navigation-height;
        top: em(15px);
    }
    @media screen and (min-width: 1280px) and (max-width: 1440px) {
        width: 100%;
        min-height: $navigation-height;
        top: em(15px);
    }
    @media screen and (min-width: 1025px) and (max-width: 1280px) {
        width: 100%;
        min-height: $navigation-height;
        top: em(15px);
    }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 85%;
        min-height: $navigation-height/2;
        top: em(15px);
    }
    @media screen and (min-width: 681px) and (max-width: 768px) {
        width: 100%;
        min-height: $navigation-height/2;
        top: em(15px);
    }
    @media screen and (max-width: 680px) {
        width: 100%;
        min-height: $navigation-height/2;
        top: 0;
    }
    .navigation-wrapper {
        @include clearfix;
        @include outer-container($refills-max-width);
        position: relative;
    }
    .logo {
        float: left;
        //max-height: $navigation-height;
        //padding-left: $navigation-padding;
        margin-top: $navigation-height/8;
        @media screen and (min-width: 1025px) {
            width: 30%;
            margin-top: $navigation-height/8;
        }
        @media screen and (min-width: 681px) and (max-width: 1024px) {
            width: 50%;
            margin-top: $navigation-height/12.5;
        }
        @media screen and (min-width: 481px) and (max-width: 680px) {
            width: 50%;
            margin-top: $navigation-height/9;
        }
        @media screen and (max-width: 480px) {
            width: 50%;
            margin-top: $navigation-height/6;
        }

        .svg-logo {
            //height: auto;
            width: 100%;

        }

        img {
            max-height: $navigation-height;
            padding: 0.8em 0;
        }
    }

    // Mobile view

    .navigation-menu-button {
        color: $navigation-color;
        display: block;
        float: right;
        line-height: 4em;
        margin: 0;
        padding-right: 2em;
        padding-left: 2em;
        text-decoration: none;
        text-transform: uppercase;

        @include media ($horizontal-bar-mode) {
            display: none;
        }

        &:focus,
            &:hover {
            color: $navigation-color-hover;
        }
    }

    // Nav menu

    nav {
        float: none;
        min-height: $navigation-height/2.5;
        z-index: 9999999;

        @include media ($horizontal-bar-mode) {
            float: left;
            margin-left: 2em;
        }
    }

    ul.navigation-menu {
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        z-index: 9999;

        &.show {
            display: block;
        }

        @include media ($horizontal-bar-mode) {
            display: inline;
            margin: 0;
            padding: 0;
        }
    }

    // The nav items

    ul li.nav-link {
        background: $navigation-background;
        display: block;
        overflow: hidden;
        padding-left: 1.5em;
        padding-right: 1.5em;
        text-align: left;
        width: 100%;
        z-index: 9999;
        line-height: $navigation-height/2.5;

        @include media ($horizontal-bar-mode) {
            background: transparent;
            display: inline;
            line-height: $navigation-height;
            text-decoration: none;
            width: auto;
        }

        @include media ($horizontal-bar-mode) {
            padding-left: 0;
            padding-right: 0em;
        }

        a {
            color: $navigation-color;
            display: inline-block;

            text-decoration: none;
            font-family: $base-font-family-alt; 
            font-size: em(20px);
            font-weight: 400;
            letter-spacing: 3px;
            text-transform: uppercase;
            @include media ($horizontal-bar-mode) {
                padding-right: 0.75em;
                padding-left: 0.75em;
            }

            &:focus,
                &:hover {
                color: #d02421;
            }
        }
    }

    .active-nav-item a {
        border-bottom: 1px solid $navigation-active-link-color;
        padding-bottom: 3px;
    }

    // Sub menus

    li.more.nav-link {
        padding-right: 0;

        @include media($horizontal-bar-mode) {
            padding-right: $navigation-submenu-padding;
        }

        > ul > li:first-child a  {
            padding-top: 1em;
        }

        a {
            margin-right: $navigation-submenu-padding;
        }

        > a {
            padding-right: 0.6em;
        }

        > a::after {
            @include position(absolute, auto -0.4em auto auto);
            color: $navigation-color;
            content: "\25BE";
        }
    }

    li.more {
        overflow: visible;
        padding-right: 0;

        a {
            padding-right: 0.8em;
        }

        > a {
            padding-right: 1.6em;
            position: relative;

            @include media($horizontal-bar-mode) {
                margin-right: $navigation-submenu-padding;
            }

            &::after {
                content: "›";
                font-size: 1.2em;
                position: absolute;
                right: $navigation-submenu-padding / 2;
            }
        }

        &:focus > .submenu,
            &:hover > .submenu {
            display: block;
        }

        @include media($horizontal-bar-mode) {
            padding-right: 0.8em;
            position: relative;
        }
    }

    ul.submenu {
        display: none;
        padding-left: 0;

        @include media($horizontal-bar-mode) {
            left: -$navigation-submenu-padding;
            position: absolute;
            top: 1.5em;
        }

        .submenu.fly-out-right {
            @include media($horizontal-bar-mode) {
                left: $navigation-submenu-width - 0.2em;
                top: 0;
            }
        }

        .submenu.fly-out-left {
            @include media($horizontal-bar-mode) {
                left: -$navigation-submenu-width + 0.2em;
                top: 0;
            }
        }

        .submenu {
            @include media($horizontal-bar-mode) {
                left: $navigation-submenu-width - 0.2em;
                top: 0;
            }
        }

        li {
            display: block;
            padding-right: 0;

            @include media($horizontal-bar-mode) {
                line-height: $navigation-height / 1.3;

                &:first-child > a {
                    border-top-left-radius: $base-border-radius;
                    border-top-right-radius: $base-border-radius;
                }

                &:last-child > a {
                    border-bottom-left-radius: $base-border-radius;
                    border-bottom-right-radius: $base-border-radius;
                    padding-bottom: 0.7em;
                }
            }

            a {
                background-color: darken($navigation-background, 3%);
                display: inline-block;
                text-align: right;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    background-color: $navigation-background;
                    padding-left: $navigation-submenu-padding;
                    text-align: left;
                    width: $navigation-submenu-width;
                }
            }
        }
    }

    // Elements on the far right

    .navigation-tools {
        background: #505050;
        clear: both;
        display: none;
        height: $navigation-height;

        @include media($horizontal-bar-mode) {
            background: transparent;
            clear: none;
            display: block;
            float: right;
        }
    }

    // Search bar

    .search-bar {
        $search-bar-border-color: $base-border-color;
        $search-bar-border: 1px solid $search-bar-border-color;
        $search-bar-background: lighten($search-bar-border-color, 10%);
        margin-top: $navigation-height/2.5;
        float:right;
        padding: 0 0.85em 0 0.6em;;
        width: 60%;

        form {
            position: relative;

            input[type=search] {
                background: $navigation-search-background;
                border: $navigation-search-border;
                border-radius: $base-border-radius * 2;
                box-sizing: border-box;
                color: $navigation-color;
                font-size: 0.9em;
                font-style: italic;
                margin: 0;
                padding: 0.5em 0.8em;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    width: 100%;
                }
            }

            button[type=submit] {
                background: $navigation-search-background;
                border: 0;
                bottom: 0.3em;
                left: auto;
                outline: none;
                padding: 0 9px;
                position: absolute;
                right: 0.3em;
                top: 0.3em;

                img {
                    height: 12px;
                    opacity: 0.7;
                    padding: 1px;
                }
            }
        }

        @include media($horizontal-bar-mode) {
            display: inline-block;
            position: relative;
            width: 16em;

            input {
                box-sizing: border-box;
                display: block;
            }
        }
    }
}

header.navigation {
    ul {
        li {
            &.current_page_item {
                position: relative;
                a {
                    color: #d02421;
                    //text-decoration: underline;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0.85em;
                        right: .75em;
                        left: .75em;
                        height: 0.15em;
                        background-color: #d02421;
                        @media (max-width:1280px) {
                            display: none;
                        }
                    }
                }

            }
        }
    }
}

.site-navigation {
    &.post-navigation {
        margin: 4em auto;
        text-align: center;

        .nav-next, .nav-previous {
            background-color: #ffffff;
            display: inline-block;
            margin: 0 0.5em;
            padding: 0.25em 1em;
            width: 120px;
            a {
                font-size: 1.75em;
                font-family: $base-font-family-alt;
                font-style: italic;
                color: $pf-black;
                text-transform: uppercase;
                &:hover {
                    color: lighten($pf-black, 80%);
                }
            }
        }
    }
}

.site-navigation {
    &.paged-navigation {
        margin: 4em auto;
        text-align: center;

        .nav-next, .nav-previous {
            background-color: #ffffff;
            display: inline-block;
            margin: 0 0.5em;
            padding: 0.25em 1em;
            width: 120px;

            font-size: 1.75em;
            font-family: $base-font-family-alt;
            font-style: italic;
            color: $pf-black;
            text-transform: uppercase;
            &:hover {
                color: lighten($pf-black, 80%);
            }

        }
    }
}

.spl-menu {
    display: table;
    overflow: auto;
    width: 100%;
    .spl-box {
        display: table-cell;
        opacity: 0.85;
        padding: 0 0.25em;
        text-align: center;
        width: 25%;
        a {
            background-color: lighten(#000, 25%);
            color: #fff;
            display: block;
            padding-bottom: 1em;
            padding-top: 1em;
            text-transform: uppercase;
            width: 100%;
            &:hover {
                background-color: lighten(#000, 50%);
            }
        }
    }
}