.page {
    .single-bg {
        background-image: url('../../assets/images/PosterGIANT_case_studies_bground.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        background-color: #000;
    }
}


.page-template-product,.page-template-our-services-template {
    .section-services-list {
        padding-bottom: 0;
    }
    .fluid-container {
        padding-bottom: 4em;
        padding-top: 0;
        /*        background-image: url("../../assets/images/PosterGIANT_seattle_bg.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;*/
    }
    .parent {
        background-color: #ffffff;
        margin-bottom: 2em;
        padding: 0;
        .entry-copy {
            padding: 2em;
        }
        box-shadow: $dropshadow-page-elements;
    }
    .parent-2 {
        margin-bottom: 6em;
        .accordion {
            box-shadow: $dropshadow-page-elements;
        }
    }
    .entry-copy {
        h1.entry-title {
            @include my_entry_title();
        }
        h2.entry-subtitle {
            @include my_red-subtitle();
        }
        .entry-header {
            .entry-title {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    .page-quote {
        background-color: #ffffff;
        box-shadow: $dropshadow-page-elements;
        margin: 8em 4em 12em;
        @media screen and (min-width: 1441px){
            margin: 8em 4em 12em;
        }
        @media screen and (min-width: 1280px) and (max-width: 1440px) {
            margin: 8em 4em 12em;
        }
        @media screen and (min-width: 1025px) and (max-width: 1280px) {
            margin: 8em 4em 12em;
        }
        @media screen and (min-width: 681px) and (max-width: 1024px) {
            margin: 8em 4em 12em;
        }
        @media screen and (max-width: 680px) {
            margin: 8em 0 12em;
        }
        padding: 2em 1em;
        position: relative;
        .fa {
            font-size: 2em;
        }
        .fa-quote-left {
            display: block;
            float: left;
            text-align: left;
            width: 100%;
            margin: 0 0 1rem 0;
        }
        .fa-quote-right {
            display: block;
            float: left;
            text-align: right;
            width: 100%;
            margin: 1rem 0 0;
        }
        .quote-inner {
            @include my_quote();
        }
    }

}

.page-quote:after {
    background-image: url(../../assets/images/pink-dude-200x150.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    content: "";
    //background-color: #ccc;
    display: block;
    position: absolute;
    bottom: -190px;
    right: 0;
    width: 300px;
}

.services-list {
    .service-list-item {
        background-color: #ffffff;
        padding: 2em;
    }
    .sevice-title {
        font-size: 1.5em;
        font-weight: 600;
        text-transform: uppercase;
        font-family: $base-font-family-alt;
    }
    .sevice-tagline h3 { 
        color: $pf-red-1;
        letter-spacing: 0.05em;
        font-size: 1.25em;
        text-transform: uppercase;
        font-family: $base-font-family-alt;
    }
    .sevice-photos {
        margin-top: 2em;
        overflow: auto;
        text-align: center;
        a {
            position: relative;
            display: inline-block;
            &:hover {
                span.expand-hint {
                     color: #d02421;
                }
            }
        }
        span.expand-hint {
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
            width: 25px;
            height: 25px;
            color: #fff;
            background-color: rgba(0,0,0,0.50);
        }
        a > img {
            height: auto;
            margin: 0.66666% 0.66666%;
            max-width: 130px;
            width: 100%;
        }
    }
}