.sidebar {
    .widget {
        margin-bottom: 2em;
        .widget-title {
            font-size: 2em;
            font-style: normal;
        }
    }
    .pg-recent-posts {
        li {
            margin-bottom: 1em;
            overflow: auto;
        }
        .size-thumbnail {
            height: auto;
            max-width: 100px;
            width: 100%;
        }
        .rp-thumb {
            float: left;
            width: 25%;
            margin-right: 5%;
        }
        .rp-link {
            float: left;
            width: 70%;
        }
        .date {
            color: $pf-red-1;
        }
    }
}

