.single {
    .entry-meta {
        a {
            color: $pf-red-1;
            &:hover {
                color: lighten($pf-red-1, 10%);
            }
        }
        .byline, .cat-list {
            margin-left: 0.5em;
        }
    }
    header {
        .entry-meta {
            font-family: steelfish,Arial,sans-serif;
            font-size: 1.77689em;
            line-height: 1.2;
            text-transform: uppercase;
        }
    }
}