/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2016, 9:01:20 AM
    Author     : mattpeternell
*/
.navigation {
    .header-social-nav {
        @include media($horizontal-bar-mode) {
            float: right;
            min-height: $navigation-height;
        }
        @media (max-width: 1024px) {
            width: 100%;
        }
        overflow: auto;
    }
}

.social-list {
    text-align: center;
    display: table;
    @include media($horizontal-bar-mode) {
         padding-right: 0.50em;
        display: block;
        float: right;
        min-height: $navigation-height;
    }
    @media (max-width: 1024px) {
        margin: 0px auto;
        display: none;
        background: #000;
    }
    li {
        display: inline-block;
        padding-right: 0.50em;
        padding-left: 0.50em;
        @include media($horizontal-bar-mode) {
            line-height: $navigation-height;
        }
        @media (max-width: 1024px) {
            line-height: 0;
            padding-bottom: 0.50em;
            padding-top: 0.50em;
        }
        a {
            background-color: $pf-dark-red;
            border-radius: 100%;
            color: #fff;
            display: inline-block;
            font-size: 1em;
            height: 2em;
            line-height: em(34px);
            list-style: none;
            text-align: center;
            transition: background-color 0.5s ease 0s;
            width: 2em;
            &:hover {
                color: darken(#fff,25%)
            }
        }
    }
}