.widget {
    width: 100%;
    margin-bottom: 2em;
    .widget-title {
        font-size: 2em;
        font-style: normal;
    }
    a {
        font-weight: 600;
        &:hover {
            color: lighten($pf-black, 50%);
        }
    }
}