/***************************************************
 * 
 * scroll-to-top
 *
 ***************************************************/ 

.scroll-to-top {
    background: $pf-dark-red;
    color: #FFF;
    bottom: 5%;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 2%;
    z-index: 999;
    text-align: center;
    width: 40px;
    border-radius: $base-border-radius;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    &:hover {
        background: darken($pf-dark-red, 15%);
        opacity: .8;
    }
    .fa-angle-up {
        display: block;
        font-size: ceil(($base-font-size * 1.50)); //24px
        font-weight: 600;
        line-height: 43px;
    }
}