.my-search {
    position: relative;
    button {
        &.my-search-btn {
            background: none;
            border: none;
            color: lighten($pf-black, 50%);
            padding: 0.65em 1.5em;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .form-control {
        background-color: #ffffff;
    }
}

.archive_search {
    text-align: center;
    .my-search {
        margin: 0px auto;
        padding: 6em 0;
    }
    label {
        font-size: 1.5em;
    }
    input.field {
        background-color: #ffffff;
    }
}

.cform {
    span.wpcf7-list-item.last {
        clear:both;
        display: inline-block;
    }
    .wpcf7-response-output {
        background-color: rgba(255, 255, 255, 0.75);
        left: 0;
        padding: 0.2em 1em;
        position: absolute;
        right: 0;
        top: -90px;
    }
    span.wpcf7-not-valid-tip {
        font-size: 0.75em;
    }
    .wpcf7-form {
        position: relative;
        @media (min-width: 769px){
            float: right;
        }
        @media (max-width: 768px){
            margin: 0px auto;
        }
        text-align: center;
        max-width: 480px;
        width: 100%;
        input, textarea {
            background-color: rgba(255, 255, 255, 0.5);
            border: 0 none;
            border-radius: 0;
            color: #ffffff;
        }
        [type="checkbox"], [type="radio"] {
            display: inline-block;
            margin-top: 5px;
            vertical-align: top;
        }
        input[type="submit"] {
            background-color: $pf-red-1;
            color: #ffffff;
            &:hover {
                color: darken(#ffffff, 25%);
                background-color: lighten($pf-red-1, 10%);
            }
        }
        span.wpcf7-list-item {
            margin-right: 0.5em;
            margin-left: 0;
        }
        .wpcf7-list-item-label {
            color: #ffffff;
        }
        .radio-lable {
            color: #ffffff;
            font-size: 1.25em;
            font-style: italic;
            font-weight: 300;
            margin: 1em 0;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            @media (min-width: 769px){
                &:before {
                    background-color: #900202;
                    color: $pf-red-1;
                    content: "";
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100px;
                }
                &:after {
                    background-color: #900202;
                    color: $pf-red-1;
                    content: "";
                    height: 3px;
                    right: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100px;
                }
            }
        }
    }
}

.required {
    color: red;
    font-size: 0.75em;
}
fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
    padding: 0;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
}

#{$all-text-inputs},
select[multiple] {
    background-color: $base-background-color;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: $form-box-shadow;
    box-sizing: border-box;
    margin-bottom: $small-spacing;
    padding: $base-spacing / 3;
    transition: border-color $base-duration $base-timing;
    width: 100%;

    &:hover {
        border-color: shade($base-border-color, 20%);
    }

    &:focus {
        border-color: $action-color;
        box-shadow: $form-box-shadow-focus;
        outline: none;
    }

    &:disabled {
        background-color: shade($base-background-color, 5%);
        cursor: not-allowed;

        &:hover {
            border: $base-border;
        }
    }
}

textarea {
    resize: vertical;
}

[type="search"] {
    appearance: none;
}

[type="checkbox"],
[type="radio"] {
    display: inline;
    margin-right: $small-spacing / 2;
}

[type="file"] {
    margin-bottom: $small-spacing;
    width: 100%;
}

select {
    margin-bottom: $small-spacing;
    max-width: 100%;
    width: auto;
}

.wpcf7-form-control.wpcf7-radio.rads {
    display: block;
    margin: 0.50em auto 1em;
    width: 283px;
}