/*
* Grid CSS
*/
/* 
    Created on : Apr 22, 2016, 3:10:18 PM
    Author     : mattpeternell
*/

.fluid-container {
    @include outer-container(100%);
    @media (min-width: 1025px){

    }
    @media (min-width: 769px) and (max-width: 1024px) {
        padding-left: 1em;
        padding-right: 1em;
    }
    @media (max-width: 768px){ 
        padding-left: 1em;
        padding-right: 1em;
    }
    .title-row {
        @include outer-container(em(1280px));
        margin-bottom: 2em;
    }
}

.entry-hero {
    @include outer-container(em(1280px));
}

.single-pg-case-studies,.single-post, .single-services {
    .row {
        @include outer-container(em(1280px));
        margin-bottom: 2em;
    }
}

.page {
    .row {
        @include outer-container(em(1280px));
        margin-bottom: 2em;
    }
    .row-hero {
        @include outer-container(em(1280px));
        margin-bottom: 2em;
        margin-top: 2em;
    }
    .child-row {
        @include outer-container(em(1280px));
    }
    .col-page-12 {
        @include span-columns(12);
    }
    .col-page-8 {

        @media (min-width: 1025px){
            @include span-columns(8);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(8);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            padding-bottom: 2em;
            @include omega();
        }
    }
    .col-page-4 {
        @media (min-width: 1025px){
            @include span-columns(4);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(4);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
            text-align: center;
        }
    }
}


.page-template-product, .page-template-our-services-template {
    .row {
        @include outer-container(em(1280px));
        margin-bottom: 2em;
    }
    .child-row {
        @include outer-container(em(1280px));
    }
    .col-product-6 {

        @media (min-width: 1025px){
            @include span-columns(6);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(6);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            padding-bottom: 2em;
            @include omega();
        }
    }
}

.shift-right {

    @media (min-width: 1025px){
        @include shift(+6);
    }
    @media (max-width: 1024px){
        @include shift(0);
    }
}

.blog {
    .post {
        &.no-results {
            @include outer-container(em(1280px));
            margin-bottom: 2em;
        }
    }
}
.blog, .archive {
    .row {
        @include outer-container(em(1280px));
        margin-bottom: 2em;
    }
    .child-row {
        @include outer-container(em(1280px));
    }
    .col-arch-12 {
        @include span-columns(12);
    }
    .col-arch-9 {

        @media (min-width: 1025px){
            @include span-columns(9);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(9);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            padding-bottom: 2em;
            @include omega();
        }
    }
    .col-arch-3 {
        @media (min-width: 1025px){
            @include span-columns(3);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(3);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
            text-align: center;
        }
    }
}

.search {
    .row {
        @include outer-container(em(1280px));
        margin-bottom: 2em;
    }
    .child-row {
        @include outer-container(em(1280px));
        background-color: #fff;
        margin-bottom: 2em;
    }
    .col-arch-12 {
        @include span-columns(12);
    }
    .col-arch-9 {

        @media (min-width: 1025px){
            @include span-columns(9);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(9);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            padding-bottom: 2em;
            @include omega();
        }
    }
    .col-arch-3 {
        @media (min-width: 1025px){
            @include span-columns(3);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(3);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
            text-align: center;
        }
    }
}

.error404 {
    .row {
        @include outer-container(em(1280px));
        margin-bottom: 2em;
    }
    .child-row {
        @include outer-container(em(1280px));
    }
    .col-error-12 {
        @include span-columns(12);
    }
    .col-error-8 {

        @media (min-width: 1025px){
            @include span-columns(8);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(8);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            padding-bottom: 2em;
            @include omega();
        }
    }
    .col-error-4 {
        @media (min-width: 1025px){
            @include span-columns(4);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(4);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
            text-align: center;
        }
    }
}

.section-cs-list {
    .row {
        @include outer-container(em(1440px));
    }
    .cs-grid-wrapper {
        @include span-columns(9);
    }
    .grid-controls {
        @include span-columns(3);
    }
}

.single-pg-case-studies, .single-post, .single-services {
    .row {
        @media (min-width: 1025px) and (max-width: 1441px){
            @include outer-container(em(1440px));

        }
        @media (min-width: 1025px) and (max-width: 1440px){
            @include outer-container(em(1280px));
        }
        @media (max-width: 1024px){
            @include outer-container(100%);
            padding-right: 1em;
            padding-left: 1em;
            margin-bottom: 0;
        }
    }
    .col-md-12 {
        //margin-top: em(100);
        @include span-columns(12);
    }
    .col-md-8 {
        @media (min-width: 1025px){
            @include span-columns(8);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(8);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
            padding-bottom: 2em;
        }
    }
    .col-md-4 {

        @media (min-width: 1025px){
            @include span-columns(4);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(4);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
            text-align: center;
        }
    }
}
.clayout {
    .col-md-6 {
        @media (min-width: 1025px){
            @include span-columns(6);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(6);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
            text-align: center;
        }
    }
}
.sections {
    /*    .col-md-3 {
            @include span-columns(3);
        }*/

    .col-md-5 {
        @include span-columns(5);
    }
    .col-md-6 {
        @include span-columns(6);
    }
    .col-md-7 {
        @include span-columns(7)
    }
}

.section-intro {
    .col-md-5 {
        @media (min-width: 1025px){
            @include span-columns(5);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(5);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
            padding-bottom: em(50px);
        }
    }
    .col-md-7 {
        @media (min-width: 1025px){
            @include span-columns(7);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(7);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
        }
    }
}

.section-services-list {
    @media (min-width: 1025px){
        padding: 0 em($global-padding) em($global-padding) em($global-padding);
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 0 em($global-padding/3) em($global-padding/3) em($global-padding/3);
    }
    @media (min-width: 681px) and (max-width: 768px){
        padding: 0 1em 1em;
    }
    @media (max-width: 680px){
        padding: 0 1em 1em;
    }
    .row {
        @include outer-container(em(1480px));
    }
    .col-md-6 {
        @media (min-width: 1025px){
            @include span-columns(6);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(6);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
        }
    }
    .col-md-6.image {
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
            margin-top: 3em;
        }
    }
}
.section-our-work {
    .col-md-7 {
        @media (min-width: 1025px){
            @include span-columns(7);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(7);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
            padding-bottom: em(50px);
        }
    }
    .col-md-5 {
        @media (min-width: 1025px){
            @include span-columns(5);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            @include span-columns(5);
        }
        @media (max-width: 768px){ 
            @include span-columns(12); 
            @include omega();
        }
    }
}

.section-case-studies {
    .row {
        @include outer-container(100%);
    }
}


.section-our-services {
    @media (max-width: 1280px) {
        &.sections.cta {
            padding: 6.25em 3em;
        }
    }
    .row {
        @include outer-container(100%);
        overflow: hidden;
    }
    .os-box {
        @media (min-width: 1025px){
            display: block;
            float: left;
            margin-right: 2.35765%;
            width: 18.1111%;
        }
        @media (min-width: 801px) and (max-width: 1024px) {
            display: block;
            float: left;
            margin-right: 2.35765%;
            width: 18.1111%;
        }
        @media (min-width: 681px) and (max-width: 800px){
            display: block;
            float: left;
            margin-right: 2.35765%;
            width: 48.55555%;
            margin-bottom: 1em;
            &:nth-child(2n+1) {
                margin-right:0;
                //clear:left;
            }
        }
        @media (max-width: 680px){
            @include span-columns(12);
            @include omega(2n+1);
            margin-bottom: 1em;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.footer {
    .footer-links, .site-info {
        @include outer-container(1280px);
        .col-md-3 {
            @media (min-width: 1025px){
                @include span-columns(3);
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                @include span-columns(3);
            }
            @media (max-width: 768px){
                @include span-columns(12);
                @include omega(1n);
            }
        }

        .col-md-12 {
            @include span-columns(12);
        }
    }
}
.row {
    @include outer-container(100%);
    .col-lg-3 { @include span-columns(3); }
    .col-lg-6 { 
        @media (min-width: 481px) {
            @include span-columns(6); 

        }
        @media (max-width: 480px) {
            @include span-columns(12); 

        }
    }
    .col-lg-9 { @include span-columns(9); }
    .box { 
        @media (min-width: 1441px) {
            @include span-columns(2); 
            @include omega(6n);
        }
        @media (min-width: 981px) and (max-width: 1440px) {
            @include span-columns(2); 
            @include omega(6n);

        }
        @media (min-width: 782px) and (max-width: 980px) {
            @include span-columns(2); 
            @include omega(6n);

        }
        @media (min-width: 481px) and (max-width: 780px) {
            @include span-columns(2); 
            @include omega(6n);

        }
        @media (max-width: 480px) {
            @include span-columns(3); 
            @include omega(4n);

        }
        margin-bottom: 2.35765%;

    }
    &.home-posts {
        margin: 5em auto 0;
    }
}
.text-center {
    .img-responsive {
        margin: 0 auto;
    }
}