body {
    background-color: $base-background-color;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}
h1, .h1 {
    font-family: $heading-font-family;
    @media (min-width: 981px) {
        font-size: modular-scale(5);
    }
    @media (max-width: 980px) {
        font-size: modular-scale(3);
    }
    @media (max-width: 480px) {
        font-size: modular-scale(2);
    }

    &.entry-title {
        font-size: modular-scale(2);
        text-align: center;

    }
    font-style: italic;
    text-transform: uppercase;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

h2 {
    font-family: $heading-font-family;

    @media (min-width: 981px) {
        font-size: modular-scale(3);
    }
    @media (max-width: 980px) {
        font-size: modular-scale(3);
    }
    @media (max-width: 780px) {
        font-size: modular-scale(3);
    }
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

h3 {
    font-family: $heading-font-family;
    font-size: modular-scale(2);
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

h4 {
    font-family: $heading-font-family;
    font-size: modular-scale(1);
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

h5 {
    font-family: $heading-font-family;
    font-size: modular-scale(0);
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

h6 {
    font-family: $heading-font-family;
    font-size: modular-scale(-1);
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

p {
    margin: 0 0 $small-spacing;
}


.lead {
    @media (min-width: 481px) {
        font-size: 1.25em;
    }
    @media (max-width: 680px) {
        font-size: 1em;
    }
    line-height: 1.85;
}

a {
    color: $action-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;

    &:active,
        &:focus,
        &:hover {
        color: shade($action-color, 25%);
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.entry-header {
    h1 {
        &.entry-title {
            color: $section-title-color;
            font-size: $section-title-size;
            font-style: italic;
            text-align: left;
            @media (min-width: 1025px){
                margin-bottom: 1em;
                margin-top: 1em;
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                margin-top: 0.75em;
                margin-bottom: 0.75em;
            }
            @media (max-width: 768px){
                margin-top: 0.50em;
                margin-bottom: 0.50em;
            }
        }
    }
}