//PixelFire Colors
$pf-off-white:      #f1f1f1;
$pf-white:          #ffffff;
$pf-black:          #000000;
$pf-dark-red:       #660000;
$pf-red-1:          #900202;
$pf-dark-grey:      #252525;
$pf-dark-grey-1:    #4a4b4b;
$pf-darke-grey-2:   #1e1e1e;

//Box Shadow
$pf-bs-color:       rgba(18,18,18, 0.23); //#121212;
$pf-box-shadow:     3px 3px 11px $pf-bs-color;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $pf-dark-grey-1;

//Buttons
$button-primary-color: #ffffff;
$button-primary-font-color: #000000;

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
$medium-screen: 600px;
$large-screen: 900px;


// Typography
$base-font-family:  "Roboto Condensed", Helvetica Neue, Helvetica, Arial, sans-serif; //$font-stack-system;
$base-font-family-alt: 'steelfish', Arial, sans-serif;
$heading-font-family: $base-font-family-alt; //$base-font-family;

// Font Sizes
$base-font-size: 1em;

// Page Section titles
$section-title-color: $pf-black;
$section-title-size: 5em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $pf-off-white;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);


// Animations
$base-duration: 150ms;
$base-timing: ease;

//Footer
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$medium-screen: 40em !default;
$large-screen: 53.75em !default;
$footer-background: $pf-dark-grey;//desaturate(darken($action-color, 20%), 30%);
$footer-color: white;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.6);

//Grid
$gutter: 1em;
$refills-max-width: 1570px;

//Global Page Wrapper Padding
$global-padding: 100px;

//Navigation
$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$action-color: #477DCA !default;
$dark-gray: #252525 !default;
$large-screen: 64.063em;
$navigation-position: fixed;
$navigation-zindex: 9999;
$navigation-padding: 1em;
$navigation-background: $pf-black;
$navigation-color: transparentize(white, 0);
$navigation-color-hover: white;
$navigation-height: em(75px);
$navigation-nav-button-background: $action-color;
$navigation-nav-button-background-hover: lighten($navigation-background, 10%);
$navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$horizontal-bar-mode: $large-screen;
$mobile-bar-mode: $large-screen;

//Page
$dropshadow-page-elements: 5px 5px 16px rgba(0, 0, 0, 0.25);
