@font-face {
    font-family: 'steelfish';
    src: url('../fonts/steelfish_rg-webfont.eot');
    src: url('../fonts/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/steelfish_rg-webfont.woff2') format('woff2'),
        url('../fonts/steelfish_rg-webfont.woff') format('woff'),
        url('../fonts/steelfish_rg-webfont.ttf') format('truetype'),
        url('../fonts/steelfish_rg-webfont.svg#steelfishregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic,300italic,300,700italic);
@import "normalize";    
@import 'vendors/vendors';
@import 'plugins/plugins';
@import 'base/base';
@import 'layout/layout';
@import 'modules/modules';


.entry-content a {
    color: #900202;
    &:hover {
        color: darken(#900202, 25%);
    }
}

.blog, .archive {
    footer.entry-meta {
        margin-top: 2em;
    }
}
.red-h3-subtitle {
    color: #d02421;
    margin-top: -1em;
}

.about-bg-height {
    height: em(800px);
}

.why-we-here {
    border-top: 5px solid $pf-red-1;
    margin-top: 6em;
    @media (max-width: 1024px){
        margin-bottom: 6em;
    }
    padding-top: 2.5em;
    > h2 {
        margin-bottom: 0;
    }
    > h3 {
        color: $pf-red-1;
        text-transform: uppercase;
    }
}
.pg-phone {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.pg-address {
    color: #ffffff;
    font-size: 1.25em;
}

.sections {
    &.cta {
        @media (min-width: 1025px){
            padding: em($global-padding);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            padding: 2em;
        }
        @media (max-width: 768px){
            padding: 1em;
        }

        .section-title {
            font-size: $section-title-size;
            text-align: center;
            font-style: italic;
        }
    }
    .section-title {
        font-size: $section-title-size;
        @media (min-width: 1025px){
            margin-bottom: 1.50em;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            margin-bottom: 1.25em;
        }
        @media (max-width: 768px){
            margin-bottom: 0.75em;
        }
        text-align: left;
        font-style: italic;
    }

}
.section-intro {
    background-image: url('../../assets/images/PosterGIANT_seattle_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @media (min-width: 1025px){
        padding: em(100px) 0 em(100px) em(100px);
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 2em;
    }
    @media (min-width: 681px) and (max-width: 768px) {
        padding: 2em;
    }
    @media (max-width: 680px){
        padding: 1em;
    }
}



.section-our-services {
    background-image: url('../../assets/images/PosterGIANT_nyc_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    h2 {
        color: #fff;
    }
    .os-box {
        background-color: $pf-black;
        @media screen and (min-width: 1441px){
            height: 399px;
        }
        @media screen and (min-width: 1441px) and (max-width: 1600px){
            height: 325px;
        }
        @media screen and (min-width: 1281px) and (max-width: 1440px) {
            height: 285px;
        }
        @media screen and (min-width: 1025px) and (max-width: 1280px) {
            height: 245px;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            height: 190px;
        }
        @media (min-width: 681px) and (max-width: 768px){
            height: 250px;
        }
        @media (max-width: 680px) {
            height: 250px;
        }

        position: relative;
        -webkit-transition: background 1000ms ease;
        -moz-transition: background 1000ms ease;
        -ms-transition: background 1000ms ease;
        -o-transition: background 1000ms ease;
        transition: background 1000ms ease;
        &.rossa {
            background-color: $pf-dark-red;
            &:hover {
                -webkit-transition: background 1000ms ease;
                -moz-transition: background 1000ms ease;
                -ms-transition: background 1000ms ease;
                -o-transition: background 1000ms ease;
                transition: background 1000ms ease;
            }
            span {
                @media (min-width: 1025px){
                    border-bottom: 30px solid rgba(255,255,255,1);
                }
                @media  (max-width: 1024px) {
                    border-bottom: 10px solid rgba(255,255,255,1);
                }
            }   
        }
        span {
            @media screen and (min-width: 1441px){
                border-bottom: 30px solid rgba(255,255,255,1);
            }
            @media screen and (min-width: 1281px) and (max-width: 1440px) {
                border-bottom: 25px solid rgba(255,255,255,1);
            }
            @media screen and (min-width: 1025px) and (max-width: 1280px) {
                border-bottom: 20px solid rgba(255,255,255,1);
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                border-bottom: 10px solid rgba(255,255,255,1);
            }
            @media (max-width: 768px){
                border-bottom: 10px solid rgba(255,255,255,1);
            }
            padding-bottom: 0.25em;
        }
    }
    a { 
        display: block;
        color: #fff;
        text-transform: uppercase;
        @media screen and (min-width: 1441px){
            font-size: 2.0em;
            transform: translate(-50%,-90%);
        }
        @media screen and (min-width: 1281px) and (max-width: 1440px) {
            font-size: 1.50em;
            transform: translate(-50%,-50%);
        }
        @media screen and (min-width: 1025px) and (max-width: 1280px) {
            font-size: 1.50em;
            transform: translate(-50%,-50%);
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            padding: 1em;
            transform: translate(-50%,-50%);
        }
        @media (max-width: 768px){
            padding: 0;
            font-size: 2em;
            transform: translate(-50%,-50%);
        }
        font-style: italic;
        text-align: center;
        //max-width: 265px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;

        &:hover {
            color: rgba(255,255,255,0.3);
        }
    }
}

.section-services-list {
    .parent.row {
        margin-bottom: 2em;
        background-color: #fff;
        padding:  em($global-padding/3);
    }
    .content {
        h2 {
            color: $pf-dark-grey-1;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        h3 {
            color: $pf-red-1;
        }
    }
    .image {
        img {
            box-shadow: $pf-box-shadow;
        }
    }
}

.section-cs-list {
    @media (min-width: 1025px){
        padding: 0 em($global-padding) em($global-padding) em($global-padding);
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 0 em($global-padding/3) em($global-padding/3) em($global-padding/3);
    }
    @media (min-width: 681px) and (max-width: 768px){
        padding: 0 em($global-padding/2) em($global-padding/2) em($global-padding/2);
    }
    @media (max-width: 680px){
        padding: 0 em($global-padding/2) em($global-padding/2) em($global-padding/2);
    }
    .masonary-box {
        background-color: #fff;

    }
    .content {
        padding: 1em;
        h2 {
            font-size: 1.75em;
            color: $pf-dark-grey-1;
            margin-bottom: 0;
            text-transform: uppercase;
            text-align: center;
        }
        .cs-tax-name {
            font-size: (1.75em * 0.75);
            color: $pf-red-1;
            height: 50px;
            text-transform: uppercase;
            text-align: center;
            font-family: steelfish,Arial,sans-serif;
            font-weight: bold;
            line-height: 1.25;
            margin-bottom: 0.5em;
        }
    }
    .image {
        padding: 1em;
        img {
            //box-shadow: $pf-box-shadow;
        }
    }
    .grid-controls {
        background-color: #fff;
        padding: em(30px);
    }
}
.section-testimonials .section-title {
    margin-bottom: 2rem;
}
.section-testimonials {
    h2 {
        color: #fff;
    }
    background-image: url('../../assets/images/clientlogos1280.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.section-our-work {
    background-image: url('../../assets/images/PosterGIANT_ourwork_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @media (min-width: 1025px){
        padding: em(100px) 0 em(100px) em(100px);
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        padding: em(75px) 0 em(75px) em(75px);
    }
    @media (min-width: 681px) and (max-width: 768px){
        padding: 2.125em;
    }
    @media (max-width: 680px){
        padding: 1em;
    }
}


.section-case-studies {
    background-image: url('../../assets/images/PosterGIANT_ourwork_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    @media (min-width:1601px) {
        padding: em(100px);    
    }
    @media (min-width:1281px)  and (max-width:1600px){
        padding: 2.125em;   
    }
    @media (min-width: 1025px) and (max-width: 1280px){
        padding: 2.125em;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 2em;
    }
    @media (max-width: 768px){
        padding: 1em;
    }
    .section-title {
        @media (max-width:1281px) {
            margin-bottom: 2.5rem;
            text-align: left;
        }
        @media (min-width:1025px) and (max-width:1280px) {
            margin-bottom: 2.5rem;
            text-align: left;
        }
        @media (max-width:1024px) {
            margin-bottom: 2.5rem;
            text-align: center;
        }
    }
}

.white-box {
    background-color: #ffffff;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    @media (min-width: 1025px){
        padding: 4em 2em;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 2em 2em;
    }
    @media (max-width: 768px){
        padding: 1em 1em;
        max-width: 100%;
    }

    width: 100%;
    position: relative;
    .inner-box {
        border-left: 4px solid $pf-dark-red;
        padding-left: 2em;
    }
    &:after {
        background: url('../../assets/images/PosterGIANT_white_triangle.png') no-repeat 0 0;
        bottom: -56px;
        color: #ccc;
        content: " ";
        display: block;
        height: 56px;
        position: absolute;
        right: 32px;
        width: 120px;
        background-size: 100%;
        @media (max-width: 768px){
            display: none;
        }
    }
}

.img-our-work {
    position: relative;
    border: 10px solid #000000;
    &:after {
        background: url('../../assets/images/PosterGIANT_black_triangle.png') no-repeat 0 0;
        bottom: -44px;
        color: #ccc;
        content: " ";
        display: block;
        height: 45px;
        position: absolute;
        right: 32px;
        width: 70px;
        background-size: 100%;
        @media screen and (max-width: 680px) {
            display: none;
        }
    }
}
.home {
    .btn-primary {
        opacity: 0.6;
    }
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%
}

img {
    vertical-align: middle;
}
img {
    border: 0 none;
}

p .btn-primary {
    margin-top: 4em;
}

.post-edit-link {
    color: #008000;
    font-weight: bold;
}
.casa h2 {
    margin-bottom: 2em;
}
.logos {
    .fa.fa-angle-right, .fa.fa-angle-left {
        color: #ffffff;
        font-size: 5em;
    }
    .fa.fa-angle-left {
        float: right;
    }
}
.home-figCaption {
    > h1, h2, h3, h4, h5, h6, p {
        text-align: center;
        @include animation(fadeIn 3s);
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;

    }
    > p {
        margin-bottom: 5%;

    }
    a.btn-primary {
        text-shadow: initial;
    }
    &.white {
        text-shadow: 4px 3px 6px #000;
    }
}

@include keyframes(fadeIn) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.black {
    > h1, h2, h3, h4, h5, h6, p {
        color: $pf-dark-grey;
    }
}
.white {
    > h1, h2, h3, h4, h5, h6, p {
        color: #fff;
        font-weight: 500;
    }
}

/*.work, .about {
    background: #cd2521 none repeat scroll 0 0;
    height: 100vh;
    width: 100vw;
}*/

.contact {
    background-color: #ffffff;
}

.fp-section {
    position: relative;
    /* Safari<=5 Android<=3 */
    /* <=28 */
    box-sizing: border-box; 
}



.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%; 
    /*    background-color: #ccc;
        opacity: 0.50;*/
}

@media (max-width: 680px) {
    #our-clients {
        //display: none;
    }
}


@media (max-width: 768px) {
    .navigation-tools {
        display: none !important;
    }
}